.billing-ui-container{
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.currency-container{
    margin-top: 3vh;
}

.bill-total{
    font-weight: bold;
}

.props-children{
    margin-top: 7vh;
}
